---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlopstest
  labels:
    app: mlopstest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlopstest
  template:
    metadata:
      labels:
        app: mlopstest
    spec:
      containers:
      - name: mlopstest
        image: us-central1-docker.pkg.dev/mlopsbits/gcp-docker-repo/mlopstest:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5050
---
apiVersion: v1
kind: Service
metadata:
  name: mlopstest-service
spec:
  selector:
    app: mlopstest
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5050
  type: LoadBalancer
  #loadBalancerIP: 104.155.141.5
---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: divanalysis-ingress
#   annotations:
#     kubernetes.io/ingress.global-static-ip-name: static-ip-kube-global
# spec:
#   rules:
#   - http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: divanalysis-service
#             port:
#               number: 80